{% extends 'base.html' %}
{% block content %}

<style>
    .password-form-wrapper {
        max-width: 400px;
        margin: 0 auto;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgda(0,0,0,0.1);
    }

    .password-form-wrapper h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .password-form-wrapper button {
        width: 30%;
        padding: 5px;
        color: white;
        border: none;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
    }

    .password-form-wrapper a {
        display: inline-block;
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
    }
</style>
 
    

<div class="password-form-wrapper">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <a href="{% url 'app:settings' %}">キャンセル</a>
    <button type="submit">変更</button>
  </form>
</div>
    
{% endblock %}