{% extends 'base.html' %}
{% block content %}

<style>
    .change-password-page {
        text-align: center;
        padding-top: 120px; !important;
        font-family: sans-serif;
    }

    .change-password-page form {
        display: block;
        text-align: left;
        margin: 0 auto;
        max-width: 500px;
    }

    .change-password-page .form-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .change-password-page label {
        display: inline-block;
        width: 180px;
    }

    .change-password-page input {
        width: 250px;
        padding: 5px;
    }

    .change-password-page .buttom-row {
        text-align: center;
        margin-top: 40px;
    }

    .change-password-page .submit-button {
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        width: 30%;
        padding: 5px;
        display: block;
        margin: 30px auto 10px auto;
    }

    .change-password-page .link {
        text-align: center;
        margin-top: 10px;
    }
    @media screen and (max-width: 768px) {
        .change-password-page {
            padding-top: 100px !important;
        }

        .change-password-page .form-row {
            display: block;
            margin-bottom: 20px;
        }

        .change-password-page form {
            margin: 0 auto;
            text-align: left;
        }

        .change-password-page label {
            width: auto;
            margin-right: 0;
            margin-bottom: 5px;
            text-align: center;
            display: block;
            width: 60%; 

        }

        .change-password-page input {
            width: 100%;
            max-width: 250px;
            margin: 0 auto;       /* ← 中央寄せ */
            display: block;
        }
    }
</style>
 
    

<div class="password-form-wrapper change-password-page">
    <form method="POST">
    {% csrf_token %}

    <div class="form-row">
      <label for="{{ form.old_password.id_for_label }}">現在のパスワード:</label>
      {{ form.old_password }}
    </div>

    <div class="form-row">
      <label for="{{ form.new_password1.id_for_label }}">新しいパスワード:</label>
      {{ form.new_password1 }}
    </div>

    <div class="form-row">
      <label for="{{ form.new_password2.id_for_label }}">パスワード再入力:</label>
      {{ form.new_password2 }}
    </div>

    <div class="button-row">
      <button type="submit" class="submit-button">変更</button>
    </div>

    <div class="link">
      <a href="{% url 'app:settings' %}">キャンセル</a>
    </div>
  </form>
</div>
    
{% endblock %}