{% extends 'base.html' %}
{% block content %}

<style>
    body {
        text-align: center;
        padding-top: 110px;
        font-family: sans-serif;
    }

    form {
        display: inline-block;
        text-align: left;
    }

    .form-row {
        margin-bottom: 20px;
    }

    label {
        display: inline-block;
        width: 180px;
    }

    input {
        width: 250px;
        padding: 5px;
    }

    .buttom-row {
        text-align: center;
        margin-top: 20px;
    }

    button {
        width: 30%;
        padding: 5px;
        display: block;
        margin: 10px auto;
    }

    .link {
        text-align: center;
        margin-top: 10px;
    }
</style>
 
    

<div class="password-form-wrapper">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <a href="{% url 'app:settings' %}">キャンセル</a>
    <button type="submit">変更</button>
  </form>
</div>
    
{% endblock %}