<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <style>
    .gradient-title {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: bold;
    background: linear-gradient(90deg,  #ff69b4, #ffc1cc, #ff69b4);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    }
    .gradient-star {
    color: #FFD700; 
    -webkit-text-fill-color: #FFD700;
    font-size: 1.2em;
    margin: 0 5px;
    }

    </style>    
</head>
<body style="margin: 0; padding: 0;">
    <div style="background-color: #87CEFA; height: 25px;"></div>
    <div style="text-align: center; margin-top: 30px;">
        <h1 class="gradient-title">Schedule<span class="gradient-star">★</span>Manage</h1>
        <p>
            夫婦や家族が予定を共有し、子どもの送迎や習い事のスケジュール管理、<br>
            行事の予定、大切な連絡事項を効率的に共有できるアプリです。<br>
            このアプリを利用することでカレンダー機能を活用して予定を共有できるだけでなく、<br>
            メモ機能を使って重要な連絡事項をいつでも確認しやすくなります。<br>
            さらに、写真の管理機能を備えており、<br>
            大事なお知らせやお便りなどをまとめて整理できます。<br>

            
        </p>
    </div>

    <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin-top: 30px;">
        <div style="flex: 0 0 40%; text-align: center;">
            <img src="/portfolio/images/screenshot_1.png" alt="画面1"
                style="width: 90%; max-width: 100%; border-radius: 10px; border: 1px solid #ccc;">
        </div>
        <div style="flex: 0 0 40%; text-align: center;">
            <img src="/portfolio/images/screenshot_2.png" alt="画面2"
                style="width: 90%; max-width: 100%; border-radius: 10px; border: 1px solid #ccc;">
        </div>
        <div style="flex: 0 0 40%; text-align: center;">
            <img src="/portfolio/images/screenshot_3.png" alt="画面3"
                style="width: 90%; max-width: 100%; border-radius: 10px; border: 1px solid #ccc;">
        </div>
        <div style="flex: 0 0 40%; text-align: center;">
            <img src="/portfolio/images/screenshot_4.png" alt="画面4"
                style="width: 90%; max-width: 100%; border-radius: 10px; border: 1px solid #ccc;">
        </div>
    </div>


        <div style="text-align: center; margin-top: 30px;">
            <a href="/static/pdf/plan.pdf" target="_blank" style="margin: 0 15px;">企画書</a>
            <a href="/static/pdf/design.pdf" target="_blank" style="margin: 0 15px;">画面設計図</a>
            <a href="/static/pdf/flow.pdf" target="_blank" style="margin: 0 15px;">画面遷移図</a>
            <a href="/static/pdf/er.pdf" target="_blank" style="margin: 0 15px;">ER図</a>
            <br><br>
            <a href="/login/">
                <button style="padding: 10px 30px; border-radius: 10px; background-color: #e6fff2; border: 1px solid #ccc; cursor: pointer;">
                  アプリへ
                </button>
            </a>
        </div>
        
</body>
</html>