{% extends 'base.html' %}
{% block content %}

<style>
    .invite-member-wrapper {  
        max-width: 600px;
        margin: 100px auto;
        padding: 30px;
        text-align: center;
        font-family: sans-serif;
    }

    .invite-member-info {
        border: 1px solid #aaa;
        padding: 15px;
        margin-bottom: 20px;
        text-align: left;
        word-wrap: break-word;
        border-radius: 10px;
    }

    .invite-member-url {
        width: 550px;
        padding: 10px;
        margin-top: 10px;
    }

    .invite-member-button {
        padding: 10px 40px;
        font-weight: bold;
        margin: 10px 10;
        border-radius: 10px;
    }

    button.invite-member-button:hover {
        background-color: #e0e0e0;  
        color: white;
        cursor: pointer;
    }

    .invite-member-link {
        margin-top: 25px;
        display: block;
    }
    
    a.invite-member-link:hover {
        color: #333333;  
        text-decoration: underline;
        cursor: pointer;
    }

 
    @media (max-width: 768px) {
      .invite-member-wrapper {
        padding-top: 60px;
        margin: 60px 10px;
      }

      .invite-member-info {
        font-size: 14px;
      }

      .invite-member-url {
        width: 85%;
      }

      .invite-member-button {
        width: 85%;
        max-width: 250px;
        padding: 10px;
      }
    }
</style>

<div class="invite-member-wrapper"> 
  <h2>家族招待URL画面</h2>

  <div class="invite-member-info">
    <strong>利用方法：</strong><br>
      作成をクリックし、リンク先URLを表示<br>
      招待したい家族にリンク先を共有しアカウントを登録してもらう。<br>
      ※発行されたURLは一度利用すると失効します。
  </div>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="invite-member-button">家族招待URLを作成する</button>
  </form>

  {% if invite_url %}
    <input type="text" value="{{ invite_url }}" readonly class="invite-member-url" id="invite-url">
    <button class="invite-member-button" style="margin-top: 10px;" onclick="copyToClipboard()">コピーする</button>
  {% endif %}

  <a href="{% url 'app:settings' %}" class="invite-member-link">キャンセル</a>   
</div> 

<script>
function copyToClipboard() {
  const input = document.getElementById("invite-url");
  input.select();
  document.execCommand("copy");
  alert("URLをコピーしました！");
}
</script>

{% endblock %}