{% extends 'base.html' %}
{% block content %}

<style>
  .pagination-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    z-index: 999;
  }

  .create-memo-link:hover {
    color: #2e2e2e !important; 
    
  }

  .memo-card {
    background-color: #fff0f5;
    padding: 15px;
    height: 150px; /* カードの高さを統一 */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     align-items: center;
    border-radius: 8px;
    transition: background-color 0.3s;
    overflow: hidden;
  }
  
  .memo-card img {
    height: 50px;
    width: auto;
    object-fit: contain;  /* 画像が枠に収まるよう調整 */
    display: block;
    margin: 0 auto;
  }

  .memo-card:hover {
    background-color: #ffe0f0 !important;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .pagination-wrapper .page-link {
    background-color: #e6d5f7;
    color: #333;
    transition: background-color 0.25s;
    border: none;
  }

  .pagination-wrapper .page-link:hover {
    background-color: #d3bdf0;
    color: #fff;
    transition: background-color 0.2s;
  }

  .card-title {
    font-size: 14px; /* タイトルの文字を小さく */
    font-weight: bold;
    margin-bottom: 5px;
  }
  .memo-list-clamp {
    display: -webkit-box;    /* 複数行表示のため設定 */
    -webkit-line-clamp: 2;  /* 2行まで */
    -webkit-box-orient: vertical;
    overflow: hidden;      /* 複数行表示のため設定 */
    text-overflow: ellipsis;   /* 2行以上は...表示 */
    white-space: normal;  /* 改行を反映 *//
    font-size: 12px;
    line-height: 1.4;
  }
  @media screen and (max-width: 768px) {
    .memo-card-container {
        margin-top: 30px;
    }

    .card {
      width: 70%;
      margin: 1% auto;
    }

    .card img {
      width: 80%;
      height: auto;
    }

    .card-title {
      font-size: 12px;
    }

    .memo-list-clamp {
      font-size: 8px;
    }
  }
</style>

<a href="#" class="create-memo-link" data-bs-toggle="modal" data-bs-target="#createMemoModal" 
   style="text-decoration: underline; color: #6c757d; cursor: pointer; ; font-size: 1.5rem; margin-left: 50px;">
   メモ新規作成＋
</a>
    


<!--メモ一覧の表示カード-->
<div class="container memo-card-container">
  <div class="row row-cols-2 row-cols-lg-4 g-4">
    {% for memo in page_obj %}
      <div class="col">
        <div class="card h-100 memo-card" style="text-align: center;">
          <div class="card-body">
            <h5 class="card-title">{{ memo.memo_title }}</h5>
            <p class="memo-list-clamp">{{ memo.content|linebreaksbr }}</p>

            {% if memo.image %}
              <img src="{{ memo.image.url }}" alt="サムネイル">
            {% endif %}

            <!-- モーダルを開くボタン-->
            <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#memoModal{{ memo.id }}"></a>
          </div>
        </div>
      </div>

      {% include "components/memo_modal.html" %} <!-- 共通モーダル表示用　-->
    {% endfor %}  
  </div>
</div>

<!-- ページネーション -->
<nav class="pagination-wrapper">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">前へ</a>
      </li>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">次へ</a>
      </li>
    {% endif %}
  </ul>
</nav>

<!--登録モーダル-->
<div class="modal fade" id="createMemoModal" tabindex="-1" aria-labelledby="creatememoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="POST" enctype="multipart/form-data" action="{% url 'app:create_memo' %}">
        {% csrf_token %}
        <div class="modal-header">
        <h5 class="modal-title" id="memoModalLabel{{ memo.id }}"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="×キャンセル"></button>
      </div>

      <div class="modal-body">
        <div class="mb-3">
          <label>タイトル</label>
          <input type="text" name="memo_title" class="form-control" required>
        </div>
        <div class="mb-3">
          <label>本文</label>
          <textarea name="content" class="form-control" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="create_image" style="cursor: pointer; color: #666;">画像選択</label>
          <input type="file" id="create_image" name="image" accept="image/*" style="display: none;">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">登録</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
