<!DOCTYPE html>
<html>
<head>
    <title>schedule★manage</title>
</head>
<body>
    <div style="text-align: center; margin-top: 80px;">
        <h1>schedule★manage</h1>
        <p>
            夫婦や家族が予定を共有し、子どもの送迎や習い事のスケジュール管理、<br>
            行事の予定、大切な連絡事項を効率的に共有できるアプリです。<br>
            
        </p>

        <hr>
        <div style="text-align: center; margin-top: 30px;">
            <span style="margin: 0 10px;">企画書</span>
            <span style="margin: 0 10px;">画面設計図</span>
            <span style="margin: 0 10px;">画面遷移図</span>
            <span style="margin: 0 10px;">ER図</span>
            <br><br>
            <button style="padding: 10px 30px; border-radius: 10px; background-color: #e6fff2; border: 1px solid #ccc;">
                アプリへ
            </button>
        </div>
</body>
</html>