{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center mb-4">
  <div class="d-inline-flex align-items-center">
    <p class="me-2 mb-0">{{ selected_date }}</p>
    <div style="width: 36px; height: 36px; background-color: #007bff; color: white;
                display: flex; align-items: center; justify-content: center;
                border-radius: 50%; font-weight: bold;">
      {{ username_initial }}
    </div>
  </div>
</div>


<div id="main" data-is-edit="false">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- タイトル　-->
          <div class="mb-3">
            {{ form.schedule_title }}
          </div>
          <!-- メモ　-->
          <div class="mb-3">
            {{ form.schedule_memo }}
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-check mb-3">
            <input type="checkbox" id="id_is_all_day" name="is_all_day" onchange="toggleDateTimeFields()">
            <label for="id_is_all_day">終日</label>
          </div>

          <div class="mb-3">
            <label for="start_date" class="form-label">開始</label>
            <input type="datetime-local" name="start_time" id="id_start_time" class="form-control" 
            value="{{ start_time|date:'Y-m-d\\TH:i' }}" style="width: 200px;">
          </div>

          <div class="mb-3">
            <label for="end_date" class="form-label">終了</label>
            <input type="datetime-local" name="end_time" id="id_end_time" class="form-control" 
            value="{{ end_time|date:'Y-m-d\\TH:i' }}" style="width: 200px;">
          </div>

          <div class="mb-3">
            <label class="form-label">繰り返し設定</label><br>
            {% for value, label in form.repeat_type.field.choices %}
              <label class="me-3">
                <input type="radio" name="{{ form.repeat_type.name }}" value="{{ value }}" 
                      class="repeat-option"                                                                                     
                      {% if form.repeat_type.value|stringformat:"s" == value|stringformat:"s" or not form.repeat_type.value and value == "0" %}checked{% endif %}>
                {{ label }}                                                                                    <!--　↑「なし」デフォルト　-->
              </label>
            {% endfor %}
          </div>

          <div class="mb-3">
            <label class="form-label">見出しの色設定</label><br>
            {{ form.color }}
          </div>
          

          <div class="mb-3">
              <label for="create_image" style="cursor: pointer; color: #666;">画像選択</label>
              <input type="file" id="create_image" name="image_url" accept="image/*" style="display: none;">
          </div>
          <button type="submit" class="btn btn-primary">登録</button>
        </div>
      </div>
    </div>
  </form>
</div>


<script src="{% static 'js/schedule_controls.js' %}"></script>

{% endblock %}

