{% extends 'base.html' %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% block content %}

<style>
    /* タイトルの横幅調整 */
    #id_schedule_title {
        width: 470px;
        height: 50px;
    }

    /* メモ欄の横幅と縦幅調整 */
    #id_schedule_memo {
        width: 470px;
        height: 200px;
    }

    /* コメントフォームの幅 */
    #id_content {
        width: 470px;
        height: 40px;
    }
    /* 枠のデザイン  */
    input[type="text"], textarea {
        border: 1px solid #cccccc;  /* 薄めのグレー */
        border-radius: 4px;          /* 角を少し丸く */
        padding: 8px;                 /* 内側の余白調整 */
    }

    .comment-list {
        width: 470px;
    }
    .thumbnail-image { 
        width: 150px;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.2s ease;
    }
    .thumbnail-image:hover {
        transform: scale(1.05);
    }

    select#id_color {
        cursor: pointer;
    }

    .image-upload-btn {
        display: inline-block;
        padding: 6px 12px;
        background-color: #f0f0f0;
        color: #333;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    .image-upload-btn:hover {
        background-color: #e0e0e0;
    }

    .file-name-text {
        margin-left: 10px;
        color: #555;
        font-size: 0.9em;
    }
</style>

<div class="text-center mb-4">
  <div class="d-inline-flex align-items-center">
    <!--↓日跨ぎしているか、していないか-->
    <p class="me-2 mb-0">{{ schedule_range_label }}</p>
    
    <div style="width: 36px; height: 36px; background-color: #ffb347; color: white;
                display: flex; align-items: center; justify-content: center;
                border-radius: 50%; font-weight: bold;">
      {{ username_initial }}
    </div>
  </div>
</div>

<div id="main" data-is-edit="true">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <!-- 左側　-->
        <div class="col-md-6">
          <!-- タイトル　-->
          <div class="mb-3">
              {{ form.schedule_title }}
          </div>
          <!-- メモ　-->
          <div class="mb-3">
              {{ form.schedule_memo }}
          </div>
          
          <!-- コメント一覧　-->
          <div class="mb-3 comment-list">
            {% for comment in comments %}
              <div class="d-flex align-items-center border p-2 mb-2">
                <div style="width: 36px; height: 36px; background-color: #ffb347; color: white; display: flex; align-items: center; justify-content: center; border-radius: 50%; font-weight: bold;">
                  {{ comment.user.username|slice:":1"|upper }}
                </div>
                <div style="margin-left: 10px;">
                  <strong>{{ comment.user.username }}</strong>：{{ comment.content }}
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- コメント投稿　-->
          <form method="post" action="{% url 'app:comment_add' schedule_id=schedule.id %}" onkeydown="return event.key !== 'Enter';">
              {% csrf_token %}
              
              <input type="hidden" name="display_date" value="{{ display_date|date:'Y-m-d' }}"> 
              <div class="d-flex">
                  {{ comment_form.content }}
                  <button type="submit" name="action" value="comment" class="btn btn-secondary ms-2">送信</button>
              </div>
          </form>
          
          {% if schedule.image_url and schedule.image_url.url %}
            <div class="mt-3">
              <!-- サムネイル画像（クリックでモーダルを開く） -->
              <img id="thumbnail-preview"
                  src="{% if schedule.image_url and schedule.image_url.url %}{{ schedule.image_url.url }}{% endif %}"
                  alt="添付画像" 
                  class="thumbnail-image" 
                  {% if not schedule.image_url or not schedule.image_url.url %}style="display: none;"{% endif %}
                  data-bs-toggle="modal" 
                  data-bs-target="#imageModal">
            </div>
            <!-- 画像削除　-->
            <div class="form-check mb-3">
              <input class="form-check-input" 
                     type="checkbox" 
                     value="1" 
                     id="delete_image" 
                     name="delete_image"
                     onchange="toggleThumbnailVisibility()">
              <label class="form-check-label" for="delete_image">
                現在の画像を削除する
              </label>
            </div>

            <!-- モーダル（画像拡大表示） -->
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                  </div>

                  <div class="modal-body text-center">
                    <img src="{{ schedule.image_url.url }}" alt="拡大画像" class="img-fluid" style="max-width: 450px; height: auto;">
                  </div>
                </div>
              </div>
            </div>
          {% endif %}


        </div>
        <!-- 右側　-->
        <div class="col-md-6">

          <div class="form-check mb-3">
            <div class="form-check mb-3">
            <input type="checkbox"
                   id="id_is_all_day"
                   style="cursor: pointer;"
                   name="is_all_day"
                   class="form-check-input"
                   onchange="toggleAllDayUI()"
                   {% if form.is_all_day.value %}checked{% endif %}>
            <label for="id_is_all_day" class="form-check-label">終日</label>
          </div>
           
          <div class="mb-3">
            <label for="start_time_dt" class="form-label">開始</label>
            <!-- 通常　-->
            <input type="datetime-local"
                  name="start_time"
                  id="start_time_dt"
                  class="form-control"
                  value="{{ schedule.start_time|default:start_time|date:'Y-m-d\\TH:i' }}"
                  style="width:200px;">

            <!--終日用（日付のみ）--> 
            <input type="date"
                  id="start_time_date"
                  class="form-control"
                  style="width:200px; display:none;">
          </div>

          <div class="mb-3">
            <label for="end_time_dt" class="form-label">終了</label>
            <!-- 通常　-->
            <input type="datetime-local"
                  name="end_time"
                  id="end_time_dt"
                  class="form-control"
                  value="{{ schedule.end_time|default:end_time|date:'Y-m-d\\TH:i' }}"
                  style="width:200px;">
            <!-- 終日用（日付のみ）-->
            <input type="date"
                  id="end_time_date"
                  class="form-control"
                  style="width:200px; display:none;">
          </div>
          
          <div class="mb-3">
            <label class="form-label">繰り返し設定</label><br>
            {% for value, label in form.repeat_type.field.choices %}
              <label class="me-3"> <!-- ラジオボタン登録したもの反映　-->
                <input type="radio" name="{{ form.repeat_type.name }}" value="{{ value }}"
                      class="repeat-option" style="cursor: pointer;"
                      {% if form.repeat_type.value|stringformat:"s" == value|stringformat:"s" %}
                          checked
                      {% elif form.repeat_type.value|stringformat:"s" == "" and value == "0"%}  
                          checked 
                      {% endif %}>
                {{ label }}              
              </label>
            {% endfor %}
          </div>

          <div class="mb-3">
            <label class="form-label">見出しの色設定</label><br>
            {{ form.color }}
          </div>

          <div class="mb-3">
              <label for="edit_image" class="image-upload-btn">ファイルを選択</label>
              <input type="file" 
                     id="edit_image" 
                     name="image_url" 
                     accept="image/*" 
                     style="display: none;" 
                     onchange="updateEditFileName(this); previewImage(this)">
              <span id="edit-file-name" class="file-name-text">
                {% if schedule.image_url %}
                  {{ schedule.image_url.name|cut:"media/" }}
                {% else %}
                  ファイル未選択
                {% endif %}
              </span>
          </div>

          <!-- 完了・削除　-->
          <div class="text-end">
              <a href="{% url 'app:schedule_delete' schedule.id %}"
                class="btn btn-danger me-2"
                onclick="return confirm('本当にこの予定を削除してもよろしいですか？')">
                削除
              </a>
              <button type="submit" name="action" value="edit" class="btn btn-primary">完了</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>  
<script>
  function updateEditFileName(input) {
    const fileName = input.files[0] ? input.files[0].name : "ファイル未選択";
    document.getElementById("edit-file-name").textContent = fileName;
  }
  // 画像を変更したときのサムネイル
  function previewImage(input) {
    const file = input.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const preview = document.getElementById("thumbnail-preview");
        preview.src = e.target.result;
        preview.style.display = "block"; 
      };
      reader.readAsDataURL(file);
    }
  }
  // 削除チェックでサムネイル非表示
  function toggleThumbnailVisibility() {
    const checkbox = document.getElementById("delete_image");
    const thumbnail = document.getElementById("thumbnail-preview");

    if (checkbox.checked) {
      thumbnail.style.display = "none";
    } else {
      thumbnail.style.display = "block";
    }
  }
<script src="{% static 'js/schedule_controls.js' %}"></script>

{% endblock %}

