{% extends 'base.html' %}
{% block content %}


<form method="POST" action="{% url 'app:calendar_mode %}">
   {% csrf_token %}
   <p>カレンダー表示</p>
   <label>
      <input type="radio" name="calendar_mode" value="monthly" checked>
      月間表示
   </label>
   <label>
      <input type="radio" name="calendar_mode" value="weekly">
      週間表示
   </label>
</form>

<p>メンバーリスト</p>
<ul>
    {% for member in members %}
      <li>{{ member.username }}({{ member.email }})</li>
    {% empty %}
    {% endfor %}

</ul>


<ul>
  <li><a href="{% url 'app:invite_member' %}">メンバーを招待する</a></li>
  <li><a href="{% url 'app:change_password' %}">パスワード変更</a></li>
  <li><a href="{% url 'app:change_email' %}">メモ</a></li>
</ul>

{% endblock %}