{% extends 'base.html' %}
{% block content %}


<p>メンバーリスト</p>
<ul>
  <div class="member-icons">
    {% for member in members %}
      <div class="member-icon" title="{{ member.username }}">
        {{ member.username|slice:":1"|upper }}
      </div>
    {% endfor %}
  </div>

</ul>


<ul>
  <li><a href="{% url 'app:invite_member' %}">メンバーを招待する</a></li>
  <li><a href="{% url 'app:change_password' %}">パスワード変更</a></li>
  <li><a href="{% url 'app:change_email' %}">メールアドレス変更</a></li>
</ul>

{% endblock %}