<div class="modal fade" id="memoModal{{ memo.id }}" tabindex="-1" aria-labelledby="memoModalLabel{{ memo.id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="POST" enctype="multipart/form-data" action="{% url 'app:memo_detail' memo.id %}">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="memoModalLabel{{ memo.id }}"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
          </div>

          <div class="modal-body">

            <!-- タイトル -->
            <div class="mb-3">
                <label for="memo_title">タイトル</label>
                <input type="text" name="memo_title" class="form-control" value="{{ memo.memo_title }}">
              </div>
  
              <!-- 本文 -->
              <div class="mb-3">
                <label for="content">本文</label>
                <textarea name="content" class="form-control" rows="3">{{ memo.content }}</textarea>
              </div>
  
              <!-- 画像 -->
              <div class="mb-3">
                <label for="edit_image_{{ memo.id }}" style="cursor: pointer; color: #666;">画像選択</label>
                <input type="file" id="edit_image_{{ memo.id }}" name="image" accept="image/*" style="display: none;">
              </div>
              {% if memo.image %}
              <div class="mb-3"> <!--現在の画像-->
                <img src="{{ memo.image.url }}" alt="画像" style="max-width: 180px; height: auto; display: block; margin: 10px auto;">
              </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <a href="{% url 'app:memo_delete' memo.id %}" class="btn btn-danger">削除</a>
            <button type="submit" class="btn btn-primary">完了</button> 
          </div>
        </form>
      </div>
    </div>
</div>  

<script>
document.addEventListener('DOMContentLoaded', function () {
  document.querySelectorAll('.modal form').forEach(function(form) {
    form.addEventListener('submit', function (e) {
      e.preventDefault();

      const url = form.getAttribute('action');
      const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;
      const formData = new FormData(form);

      